.fade-enter {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
}
.fade-enter.fade-enter-active {
    opacity: 1;
}
.fade-leave {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
.fade-leave.fade-leave-active {
    opacity: 0;
}
.link-active {
    color: #bbbbbb;
    text-decoration: none;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes stroke {
    from {
        stroke-dashoffset: 100px;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translatey(115vh);
    }
    to {
        transform: translatey(100vh);
        opacity: 1;
    }
}
@keyframes loading {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
