@mixin media($min, $max: null) {
	 @if ($max){
		@media all and (min-width: $min) and (max-width: $max) {
			 @content;
		}
	}
	@else {
		 @media all and (min-width: $min){
			@content;
		}
	}
}
.container {
	max-width: 90%;
	margin: auto;
	@include media($sm) {
		max-width: $sm;
	}
	@include media($md) {
		max-width: $md;
	}
	@include media($lg) {
		max-width: $lg;
	}
}
.desktop {
	display: none;
	@include media($sm) {
		display: block;
	}
}
.mobile {
	display: block;
	@include media($sm) {
		display: none;
	}
}
