li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
input[type="number"],
input[type="text"] {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    background: transparent;
    border-bottom: 1px solid $mui-primary-color-dark;
}
.symbols {
    height: 0;
    // position: fixed;
    // z-index: -1;
    // visibility: hidden;
}
select {
    width: 100%;
    height: 30px;
    padding: 5px 0;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    box-shadow: 0;
    border-radius: 0;
    // border-bottom: 1px solid $mui-primary-color-dark;
    // background-size: 24px;
    // background-image: url('../svg/arrow.svg');
    // background-repeat: no-repeat;
    // background-position: right;
}
