.toolbar-form {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    // flex: 1;
    input.input-text {
        height: 35px;
        margin: 0 8px;
    }
}
.toolbar-buttons {
    @include media(0px,$sm) {
        flex: 1;
    }
    @include media($sm) {
        margin-left: auto;
    }
}
