.svg-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
    svg {
        width: 100%;
        height: 100%;
        fill: inherit;
    }
}
