.list {
    margin-top: 17.5vh;
    @extend .mui-container;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: +100;
    padding-bottom: 15vh;
    .svg-icon {
        fill: $mui-primary-color-light;
        &:hover {
            fill: $mui-primary-color-dark;
        }
    }
}
.empty {
    // @extend .flex;
    // @extend .center;
    // @extend .cols;
    @include media($sm) {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    text-align: center;
    min-height: 60vh;
    .svg-icon {
        width: 200px;
        height: 200px;
    }
    h1 {
        @extend .mui--text-display2;
        text-align: center;
    }
    h1 > span {
        margin: 5px;
    }
    .hint {
        display: block;
        flex: 1 0 100%;
        @extend .mui--text-display1;
        color: mui-color('grey','400');
        font-size: 15px;
    }
}
