.list-item {
    @extend .flex;
    line-height: 2.5;
    span.checkbox {
        flex: 0 1 25px;
        width: 25px;
    }
    .text {
        flex: 1;
        font-size: 16px;
        display: flex;
        > span {
            margin-right: 5px;
            @include media(0px,$sm) {
                &:nth-child(1) {
                    margin-left: 10px;
                }
            }
            &:nth-child(1) {
                color: mui-color('black','500');
                flex: 0 1 100%;
                @include media($sm) {
                    flex: 0 1 45%;
                }
            }
        }
    }
}
.toggled {
    .actions {
        .svg-icon.read-more {
            svg {
                fill: mui-color('blue','700');
            }
        }
    }
}
.category-item {
    @extend .list-item;
}
.location-item {
    @extend .list-item;
}
