.marker {
    @extend .flex;
    @extend .center;
    margin: 0;
    position: absolute;
    border: 2px solid mui-color('blue','500');
    background-color: mui-color('blue','500');
    text-align: left;
    color: mui-color('white','100');
    font-size: 15px;
    font-weight: bold;
    .svg-icon {
        width: 24px;
        height: 24px;
        fill: mui-color('white','500');
    }
}
.map-page {
    width: 100vw;
    height: 90vh;
    .map {
        width: 100%;
        height: 100%;
    }
}
