.toaster {
    background: #222;
    border-radius: 3px;
    width: 200px;
    height: 100px;
    padding: 30px 15px;
    color: #fff;
    position: relative;
    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0;
        border: 0;
    }
    .message {
        color: #fff;
    }
}
