form.new-location {
    // @extend .flex;
    // @extend .cols;
    // @extend .center;
    @include media($md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    max-width: 450px;
    margin: auto;
    input[type="text"] {
        border: 0;
        border-bottom: 1px solid $mui-primary-color-dark;
        width: 100%;
    }
    .lat-long {
        @include media(0px,$sm) {
            flex-flow: column;
            > div {
                flex: 1 0 100%;
            }
            height: 75px;
        }
    }
    .row {
        @extend .center;
        width: 100%;
        margin: 40px 0;
        position: relative;
        .row {
            margin: 0;
            @include media(0px,$md) {
                display: block;
            }
            &:nth-child(1) {
                margin-right: 5px;
            }
            input {
                border-bottom: 0;
            }
        }
        label {
            font-size: 13px;
            position: absolute;
            top: -20px;
            color: $mui-text-dark-hint;
        }
        input:not([type="submit"]) {
            font-size: 16px;
            width: 100%;
            outline: 0;
        }
        input[type="number"] {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .longtitue {
        margin-right: 15px;
    }
    .submit-btn {
        @extend .mui-btn;
        @extend .mui-btn--primary;
    }
}
.edit-panel {
    @include media(0px,$md) {
        .map {
            margin-right: 0;
            height: 350px;
            width: 100%;
        }
    }
    @include media($md) {
        display: flex;
        .map {
            width: calc(50% - 30px);
            margin-right: 30px;
        }
    }
}
select {
    height: 150px;
    border: 1px solid mui-color('blue','500');
}
.new-location > .categories-row {
    // @extend .flex;
    // @extend .center;
    // flex-flow: column;
    width: 100%;
    > select {
        flex: 1;
    }
    span.hint {
        margin-top: 15px;
        font-size: smaller;
        color: #ccc;
        text-align: center;
    }
}
