.app {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}
.page-title {
    @extend .flex;
    align-items: center;
    font-weight: bold;
    flex: 1;
    text-transform: capitalize;
    @include media(0px,$sm) {
        font-size: 16px;
        margin-top: 10px;
        white-space: nowrap;
    }
    @include media($sm) {
        font-size: 18px;
        text-align: left;
        margin-right: auto;
    }
}
body {
    overflow-y: hidden;
}
main {
    min-height: 52.5vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
}
.view-page {
    .map {
        width: 100%;
        height: 70vh;
    }
}
.go-back {
    margin-left: auto;
}
.mui-btn {
    @include media(0px,$sm) {
        padding: 0 13px;
    }
}
