.active-link {}
.navbar {
    .nav-list {
        @extend .flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10vh;
        z-index: +200;
        background: mui-color('indigo','800');
    }
    .nav-item {
        flex: 1 0 50%;
        @extend .flex;
        @extend .center;
        font-size: 18px;
        text-transform: uppercase;
        color: mui-color('white','500');
        a {
            @extend .flex;
            @extend .center;
            flex: 1;
            height: 100%;
        }
        .svg-icon {
            margin: 5px;
            width: 34px;
            height: 34px;
            svg {
                fill: mui-color('white','500');
            }
        }
        &:hover {
            cursor: pointer;
            a {
                background: mui-color('indigo', '600');
            }
        }
    }
}
.nav-item {
    a.active-link {
        background: mui-color('indigo', '500');
        .svg-icon {
            svg {
                fill: mui-color('lime', '500');
            }
        }
    }
}
