.toolbar {
    border-bottom: 1px solid mui-color('blue', '700');
    background: mui-color('white', '500');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    width: 100vw;
    z-index: +200;
    @extend .flex;
    @extend .center;
    .inner {
        @extend .flex;
        @extend .mui-container;
        // flex: 1 0 100%;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        > span:first-child {
            flex: 1;
        }
        .buttons {
            @extend .flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
            // @include media($sm) {
            //   margin-left: auto;
            //
            // }
        }
        .toolbar-buttons {
            @extend .flex;
            // flex: 1;
        }
    }
    .mui-btn {
        @include media(0px,$sm) {
            display: inline-flex;
        }
    }
}
.toggled {
    .buttons {
        .close-btn {
            @include media(0px,$sm) {
                display: flex;
                flex: 1;
            }
        }
    }
}
